# Key Vault
AZURE_KEY_VAULT_URL=https://<your-key-vault-name>.vault.azure.net/

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://<your-azure-openai-resource>.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=<your-embedding-deployment-name>
AZURE_OPENAI_CHAT_DEPLOYMENT=<your-chat-deployment-name>

# Azure AI Search
AZURE_SEARCH_ENDPOINT=<your-chat-deployment-name>
AZURE_SEARCH_INDEX_NAME=ai-risk-advisor-index